Repository Nitrokey/pynitrokey, pull requests merged in 2022-06, with the labels that each got.

#239 Remove hardcoded version in the name of the final binary
  wine-build/build-wine-docker.sh
Labels: CI

#242 NetHSM: Rename reset to factory-reset
  Makefile
  nethsm-scheme.json
  pynitrokey/cli/nethsm.py
  pynitrokey/nethsm/__init__.py
  pynitrokey/nethsm/client/api/default_api.py
  pynitrokey/nethsm/client/model/distinguished_name.py
  pynitrokey/nethsm/client/model/key_restrictions.py
  pynitrokey/nethsm/client/model/private_key.py
Labels: device/NetHSM

#248 nk3: Add NRF52 bootloader support
  pynitrokey/cli/nk3/update.py
  pynitrokey/nk3/__init__.py
  pynitrokey/nk3/bootloader/__init__.py
  pynitrokey/nk3/bootloader/lpc55.py
  pynitrokey/nk3/bootloader/nrf52.py
  pynitrokey/stubs/nordicsemi/__init__.pyi
  pynitrokey/stubs/nordicsemi/dfu/__init__.pyi
  pynitrokey/stubs/nordicsemi/dfu/dfu_transport.pyi
  pynitrokey/stubs/nordicsemi/dfu/dfu_transport_serial.pyi
  pynitrokey/stubs/nordicsemi/dfu/init_packet_pb.pyi
  pynitrokey/stubs/nordicsemi/dfu/manifest.pyi
  pynitrokey/stubs/nordicsemi/dfu/package.pyi
  pynitrokey/stubs/nordicsemi/lister/__init__.pyi
  pynitrokey/stubs/nordicsemi/lister/device_lister.pyi
  pynitrokey/stubs/nordicsemi/lister/enumerated_device.pyi
  pyproject.toml
Labels: device/Nitrokey 3
