Repository Nitrokey/pynitrokey, pull requests merged in 2023-05, with the labels that each got.

#359 fido2 list-credentials: Handle missing RP name
  pynitrokey/cli/fido2.py
Labels: device/Nitrokey FIDO2, device/Nitrokey 3

#387 Add py.typed file
  pynitrokey/py.typed
Labels: maintanance

#380 Secrets App Password Safe support for Nitrokey 3
  pynitrokey/cli/nk3/secrets.py
  pynitrokey/nk3/secrets_app.py
  pynitrokey/start/gnuk_token.py
  pynitrokey/test_secrets_app.py
Labels: enhancement, device/Nitrokey 3, application:secrets
