Repository Nitrokey/pynitrokey, pull requests merged in 2023-06, with the labels that each got.

#409 Handle showing list items for data w/o property byte
  pynitrokey/nk3/secrets_app.py
Labels: bug, application:secrets

#412 Remove duplicate prompt in AskUser
  pynitrokey/helpers.py
Labels: bug, UI

#364 Bump spsdk, cryptography
  pynitrokey/nk3/bootloader/lpc55.py
  pyproject.toml
Labels: maintanance

#414 Select libnitrokey verbosity level through environmental variable
  pynitrokey/libnk.py
Labels: enhancement, device/Nitrokey Storage, device/Nitrokey Pro

#413 Update tests for the Secrets App
  pynitrokey/test_secrets_app.py
Labels: maintanance, device/Nitrokey 3, application:secrets
