Repository Nitrokey/pynitrokey, pull requests merged in 2023-04, with the labels that each got.

#363 Set default make target to init
  Makefile
Labels: maintanance

#367 nk3 test: Fix provisioner test
  pynitrokey/cli/nk3/test.py
Labels: device/Nitrokey 3

#376 nk3 status: Add variant
  pynitrokey/cli/nk3/__init__.py
  pynitrokey/nk3/admin_app.py
Labels: device/Nitrokey 3

#377 Update Secrets App API and tests for brute force protection and PIN-less access
  Makefile
  pynitrokey/cli/nk3/secrets.py
  pynitrokey/conftest.py
  pynitrokey/nk3/secrets_app.py
  pynitrokey/test_secrets_app.py
  pyproject.toml
Labels: enhancement, device/Nitrokey 3, application:secrets
