Repository Nitrokey/pynitrokey, pull requests merged in 2023-03, with the labels that each got.

#326 Ask user to touch the device when needed on all OTP operations
  pynitrokey/cli/nk3/__init__.py
Labels: enhancement, device/Nitrokey 3, application:secrets

#328 Vault: use PIN for authentication
  pynitrokey/conftest.py
  pynitrokey/nk3/otp_app.py
  pynitrokey/test_otp.py
Labels: device/Nitrokey 3, application:secrets

#327 Remove requirement for the --experimental switch
  pynitrokey/cli/nk3/__init__.py
Labels: enhancement, device/Nitrokey 3, application:secrets

#332 Refactor Secrets Application interface
  pynitrokey/cli/nk3/__init__.py
  pynitrokey/cli/nk3/secrets.py
  pynitrokey/conftest.py
  pynitrokey/nk3/secrets_app.py
  pynitrokey/test_secrets_app.py
Labels: maintanance, device/Nitrokey 3

#331 nk3: Add support for extended version and status
  Makefile
  pynitrokey/cli/nk3/__init__.py
  pynitrokey/cli/nk3/test.py
  pynitrokey/nk3/admin_app.py
  pynitrokey/nk3/device.py
  pynitrokey/nk3/updates.py
  pynitrokey/nk3/utils.py
Labels: device/Nitrokey 3

#338 nk3 update: Improve filename parsing
  pynitrokey/cli/nk3/__init__.py
  pynitrokey/nk3/bootloader/__init__.py
  pynitrokey/nk3/bootloader/lpc55.py
  pynitrokey/nk3/bootloader/nrf52.py
  pynitrokey/nk3/updates.py
Labels: device/Nitrokey 3

#333 Secrets App test and logging improvements
  Makefile
  pynitrokey/conftest.py
  pynitrokey/nk3/secrets_app.py
  pynitrokey/test_secrets_app.py
  pyproject.toml
Labels: enhancement, device/Nitrokey 3

#341 CLI: correct args names, and show proper timestamp value
  pynitrokey/cli/nk3/secrets.py
Labels: bug, UI, priority:low, device/Nitrokey 3, application:secrets

#350 nk3: Drop Version.__hash__
  pynitrokey/cli/nk3/test.py
  pynitrokey/nk3/utils.py
Labels: device/Nitrokey 3

#353 nk3 update: Add --version option
  pynitrokey/cli/nk3/__init__.py
  pynitrokey/cli/nk3/update.py
  pynitrokey/nk3/updates.py
Labels: enhancement, update, device/Nitrokey 3

#358 fido2.client: Raise unhandled error in cred_mgmt
  pynitrokey/fido2/client.py
Labels: device/Nitrokey FIDO2, device/Nitrokey 3
